/*exo1*/
/*.bg-primary
{
	border: 1px solid white;
	text-align: center;
}*/
/*exo2*/
/*.bg-success, .bg-warning
{
	border: 1px solid white;
	text-align: center;
}*/
.rounded-pill {
  width: 10rem;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*margin: 4px 2px;*/
  cursor: pointer;
  border-radius: 16px;
}